* {
  margin: 0;
  padding: 0;

  /* PREVENT TEXT SELECTION */
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  font-family: "Open Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html,
body,
#root {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at center, #91cbf7 0%, #4c93ce 30%, #004278 100%);
  /* background-image: linear-gradient(#005fad 0%, #4c93ce 50%, #91cbf7 100%); */
}

/* define global css vars */
:root {

  /* BANNER */
  /*
  --graphic-scale: 0.3;
  --graphic-width: 1024px;
  --graphic-height: 500px;
  */

  /* ICON */
  --graphic-scale: 0.3;
  --graphic-width: 512px;
  --graphic-height: 512px;

  /* MODAL DIALOG */
  --dialog-width: 550px;
  --dialog-height: 700px;
  --title-font-size: 1.7em;
  --title-padding: 20px;
  --container_width: 90%;
  --container_top: 80px;
  --subcontainer_margin: 1.5em;
  --container_h1_font_size: 1.5em;
  --label_margin: 0.8em;
  --container_font_size: 0.9em;

  /* FOOTER */
  --footer-font-size: 1.0em;
  --footer-padding: 20px;
}

a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  color: inherit;
}

a:hover {
  text-decoration-style: solid;
  color: blue;
}

#root>div {
  touch-action: none;
}

#footer_attribution,
.video_select_icon {
  cursor: pointer;
}


/* APP ICONS + GOOGLE PLAY */
#container_apps {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.app_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: lightsteelblue;
  padding: 10px 10px 0 10px;
  border-radius: 8px;
}

.video_select_icon>source,
.video_select_icon>img {
  width: calc(var(--graphic-width) * var(--graphic-scale));
  height: calc(var(--graphic-height) * var(--graphic-scale));
}

.google_play_link {
  display: flex;
  justify-content: center;
}

.google_play_icon {
  --icon-width: 646px;
  --icon-scale: 0.3;
  width: calc(var(--icon-width) * var(--icon-scale));
}


/* FOOTER */
#pxlmesh_footer {
  position: absolute;
  bottom: var(--footer-padding);
  width: 100%;
  font-size: var(--footer-font-size);
  color: #f0ffff;
}

#footer_attribution {
  position: inherit;
  right: var(--footer-padding);
  bottom: 0;
}

#footer_left {
  position: inherit;
  left: var(--footer-padding);
  bottom: 0;
}


/* DIALOG */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: 100;
  justify-content: center;
  align-items: center;
}

div#dialog_copyright {
  position: fixed;

  width: var(--dialog-width);
  height: var(--dialog-height);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  opacity: 0.8;
  background-color: lightsteelblue;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

div#modal_copyright {
  opacity: 0;
  display: none;
}

label#label_copyright {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);

  background-color: #ffffff;
  border-radius: 10px;
  padding: var(--title-padding);
  width: max-content;

  color: black;
  font-size: var(--title-font-size);
  text-align: center;
}

.dialog_container {
  text-align: left;
  width: var(--container_width);
  position: absolute;
  top: var(--container_top);
  display: flex;
  flex-direction: column;

  height: calc(100% - var(--container_top) - 26px);
  overflow-y: auto;
}

.copyright_subcontainer {
  margin-bottom: var(--subcontainer_margin);
}

.copyright_subcontainer h1 {
  font-size: var(--container_h1_font_size);
}

.copyright_subcontainer label {
  margin: var(--label_margin) 0 var(--label_margin) var(--label_margin);
  font-size: var(--container_font_size);
  display: block;
}